html,
body,
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Roboto", sans-serif
}

.ownicon-sqlite,
.ownicon-mongodb,
.ownicon-mysql,
.ownicon-ts,
.ownicon-assembler,
.ownicon-java,
.ownicon-python {
    width: 30px;
    height: 30px;
    display: inline-block;
}

.ownicon-ts {
    background: url(/images/typescript.svg);
    transform: translateY(3px);
}

.ownicon-python {
    background: url(/images/python.svg);
}

.ownicon-java {
    background: url(/images/java.svg);
}

.ownicon-assembler {
    background: url(/images/assembler.svg);
}

.ownicon-mysql {
    background: url(/images/mysql.svg);
}

.ownicon-sqlite {
    background: url(/images/sqlite.svg);
}

.ownicon-mongodb {
    background: url(/images/mongodb.svg);
}

.fa-css3:hover,
.fa-html5:hover,
.fa-js:hover,
.fa-react:hover,
.fa-node:hover,
.ownicon-ts:hover,
.ownicon-python:hover,
.ownicon-java:hover,
.ownicon-assembler:hover,
.ownicon-mysql:hover,
.ownicon-mongodb:hover,
.ownicon-sqlite:hover {
    transform: scale(2.35);
    position: relative;
    z-index: 10;
    transition: transform 0.3s ease, background-color 0.3s ease, border-radius 0.3s ease;
}

.ownicon-mysql:hover {
    transform: scale(3.25);
    background: url(/images/mysql_hover.svg);
}

.ownicon-mongodb:hover {
    width: 64px;
    transform: scale(3.25);
    background: url(/images/mongodb_hover.svg);
}

.ownicon-sqlite:hover {
    width: 64px;
    background: url(/images/sqlite_hover.svg);
}